/* Transparent */
#transparent {
	background: rgba(128, 128, 128, 0.3);
	width: 100%;
	height: 100%;
	margin: auto;
	position: fixed;
	transition: opacity 0.25s ease;
	z-index: 1029;
}
.month {
	box-sizing: border-box;
}

body {
	margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
	display: flex;
}

.hidden {
	display: none;
}



button {
	background: none;
	border: none;
}
.modal {
	background-color: white;
	height: fit-content;
	width: fit-content;
	margin: auto;
	margin-top: 5%;
	padding-bottom: 5px;
}

#crafts {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

#crafts img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
}

.column {
	flex: 20%;
	max-width: 20%;
	padding: 0 4px;
}

#craftModal {
	display: flex;
}

#craftModal div {
	padding: 5px;
	width: auto;
}

#btn-wrap {
	text-align: right;
}


/* Modal*/
.modal {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.modal h2 {
    margin-top: 0;
    font-size: 1.5rem;
}
/* Label Style */
#imgLabel {
    display: block; 
    margin-top: 10px; 
}

/* Input */
#img {
    display: block; 
    margin-top: 5px;
}

.modal input[type="text"],
.modal button {
    margin-top: 10px;
    padding: 8px 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.modal button {
    background-color: lightskyblue;
    color: #fff;
    cursor: pointer;
}

.modal button:hover {
    background-color: red;
}

/* Image Preview*/
.preview {
    margin-top: 20px;
    text-align: center;
}

.preview img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(39, 39, 39, 0.2);
}

/* Supply */
.supplyInput {
    margin-top: 10px;
}

@media (max-width: 600px) {
    .modal {
        width: 90%;
        padding: 10px;
    }
}

#craft-modal img {
  max-width: 100%; 
  max-height: 100%; 
  display: block;
  margin: 0 auto; 
}


#preview {
    width: 200px; 
    height: 300px; 
    border: 1px solid #ccc;
    border-radius: 5px; 
    margin-bottom: 10px; 
}




@media (max-width: 600px) {
	.column {
		flex: 100%;
		max-width: 100%;
	}
    .modal {
        width: 90%;
        padding: 10px;
    }
    
}